.navbar {

  background: #058716 !important;

  .navbar-brand {
    color: #fff;
  }

  .navbar-nav .nav-link {
    color: #fff !important;
  }

  .navbar-toggler {
    color: #ffff !important;
  }

  .navbar-toggler-icon {
    color: #ffff !important;
  }
}